@page
@model Compliance360.Pages.AccountingModel
@{
     ViewData["Title"] = "Accounting";
    Layout = "_DashboardLayout";
}

<!-- Column selectors with Export Options and print table -->
<section id="column-selectors">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Accounting</h4>
                
                </div>
                <div class="card-content">
                    <div class="card-body card-dashboard">
                      
                        <div class="table-responsive">
                            <table class="table table-striped dataex-html5-selectors">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Application type</th>
                                        <th>Company name </th>
                                        <th>Email</th>
                                        <th>Amount paid</th>
                                        <th>Payment date</th>
                                        <th>status</th>
                                        <th>Application date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>SCUML Application</td>
                                        <td>EA Square</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>N300,000</td>
                                        <td>12 May, 2022</td>
                                        <td><span class="badge bg-outline-primary">Done</span></td>
                                        <td>12 May, 2022</td>
                                    </tr>
                                <tr>
                                        <td>2</td>
                                        <td>SCUML Application</td>
                                        <td>EA Square</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>N300,000</td>
                                        <td>12 May, 2022</td>
                                        <td><span class="badge bg-outline-primary">Done</span></td>
                                        <td>12 May, 2022</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>SCUML Application</td>
                                        <td>EA Square</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>N300,000</td>
                                        <td>12 May, 2022</td>
                                        <td><span class="badge bg-outline-primary">Done</span></td>
                                        <td>12 May, 2022</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>SCUML Application</td>
                                        <td>EA Square</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>N300,000</td>
                                        <td>12 May, 2022</td>
                                        <td><span class="badge bg-outline-primary">Done</span></td>
                                        <td>12 May, 2022</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>SCUML Application</td>
                                        <td>EA Square</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>N300,000</td>
                                        <td>12 May, 2022</td>
                                        <td><span class="badge bg-outline-primary">Done</span></td>
                                        <td>12 May, 2022</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>SCUML Application</td>
                                        <td>EA Square</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>N300,000</td>
                                        <td>12 May, 2022</td>
                                        <td><span class="badge bg-outline-primary">Done</span></td>
                                        <td>12 May, 2022</td>
                                    </tr>
                                </tbody>
                              
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Column selectors with Export Options and print table -->
