@page
@model Compliance360.Pages.AuditTrailModel
@{
     ViewData["Title"] = "Audit trail";
    Layout = "_DashboardLayout";
}

<!-- Column selectors with Export Options and print table -->
<section id="column-selectors">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Audit trails</h4>
                
                </div>
                <div class="card-content">
                    <div class="card-body card-dashboard">
                      
                        <div class="table-responsive">
                            <table class="table table-striped dataex-html5-selectors">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Date and time</th>
                                        
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>EASquare</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>12 May, 2022 02:00pm</td>
                                        <td> login to the system </td>
                                    </tr>
                              <tr>
                                        <td>1</td>
                                        <td>EASquare</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>12 May, 2022 02:00pm</td>
                                        <td> login to the system </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>EASquare</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>12 May, 2022 02:00pm</td>
                                        <td> login to the system </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>EASquare</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>12 May, 2022 02:00pm</td>
                                        <td> login to the system </td>
                                    </tr>
                                </tbody>
                              
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Column selectors with Export Options and print table -->
