@page
@model Compliance360.Pages.CreateSCUMLApplicationModel
@{
     ViewData["Title"] = "SCUML Application";
    Layout = "_DashboardLayout";
}


<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">SCUML Application</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">

                        <p class="formheadings mt-3">Create new SCUML Application</p>
                        <p class="formsubheadings mb-3">Lorem ipsum dolor sit amet, consectetur adipor </p>
                        <form class="form">
                            <h6>Payment details</h6>
                            <hr class="mb-3">
                            <div class="form-body">
                                <div class="row">
                                  
                                    <div class="col-md-6 col-12">
                                        <div class="form-label-group">
                                            <p>Select service</p>
                                          <select class="form-control">
		                                    <option>Option one</option>
		                                    <option>Option two</option>
		                                    <option>Option three</option>
		                                  </select>
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-label-group">
                                            <p>Document upload</p>
                                            <input type="file" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-label-group">
                                            <p>Amount</p>
                                            <input type="text" class="form-control" placeholder="32,557">
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-label-group">
                                            <p>Payment email</p>
                                            <input type="email"  class="form-control" disabled placeholder="elijah@gmail.com">
                                           
                                        </div>
                                    </div>
                                
                                        <div class="col-lg-5 offset-lg-7 col-md-5 offset-md-7">
                                            <h6 class="mt-2">Payment summary</h6>
                                            <div class="paymentsummary p-2">
                                                  <table class="table paymentsumtable">
                                                    <tr>
                                                        <td>Actual cost</td>
                                                        <td class="text-right font-weight-bold">5000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Default year</td>
                                                        <td class="text-right font-weight-bold">10,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Auditted finance</td>
                                                        <td class="text-right font-weight-bold">2,500</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Documentation</td>
                                                        <td class="text-right font-weight-bold">1,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Legal fee</td>
                                                        <td class="text-right font-weight-bold">15,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Total</td>
                                                        <td class="text-right font-weight-bold"><h4>100,000</h4></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                  
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1"> <i class="feather icon-save"></i> Add filling</button>
                                       
                                    </div>
                                </div>
                            </div>

                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
