@page
@model Compliance360.Pages.HistoryModel
@{
     ViewData["Title"] = "Application History";
    Layout = "_DashboardLayout";
}

<!-- Column selectors with Export Options and print table -->
<section id="column-selectors">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                
                </div>
                <div class="card-content">
                    <div class="card-body card-dashboard">
                      
                        <div class="table-responsive">
                            <table class="table table-striped dataex-html5-selectors">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Application Date</th>
                                        <th>Company</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Application type</th>
                                        <th>Date of last filling</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>12 May, 2022</td>
                                        <td>EASquare</td>
                                        <td>40,000</td>
                                        <td><span class="badge bg-warning">Pending</span></td>
                                        <td>Paper reversal</td>
                                        <td>12 May, 2022</td>
                                        <td> <span class="iconfont"><i class="feather icon-pen-tool"></i> </span> </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>12 May, 2022</td>
                                        <td>EASquare</td>
                                        <td>40,000</td>
                                        <td><span class="badge bg-success">Completed</span></td>
                                        <td>Paper reversal</td>
                                        <td>12 May, 2022</td>
                                        <td> <span class="iconfont"><i class="feather icon-pen-tool"></i> </span> </td>

                                    </tr>
                                     <tr>
                                        <td>3</td>
                                        <td>12 May, 2022</td>
                                        <td>EASquare</td>
                                        <td>40,000</td>
                                        <span class="badge bg-secondary">In progress</span>
                                        <td>Paper reversal</td>
                                        <td>12 May, 2022</td>
                                        <td> <span class="iconfont"><i class="feather icon-pen-tool"></i> </span> </td>

                                    </tr>
                                     <tr>
                                        <td>4</td>
                                        <td>12 May, 2022</td>
                                        <td>EASquare</td>
                                        <td>40,000</td>
                                        <td><span class="badge bg-success">Completed</span></td>
                                        <td>Paper reversal</td>
                                        <td>12 May, 2022</td>
                                        <td> <span class="iconfont"><i class="feather icon-pen-tool"></i> </span> </td>

                                    </tr>
                                     <tr>
                                        <td>5</td>
                                        <td>12 May, 2022</td>
                                        <td>EASquare</td>
                                        <td>40,000</td>
                                         <td><span class="badge bg-warning">Pending</span></td>
                                        <td>Paper reversal</td>
                                        <td>12 May, 2022</td>
                                        <td> <span class="iconfont"><i class="feather icon-pen-tool"></i> </span> </td>

                                    </tr>
                                </tbody>
                              
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Column selectors with Export Options and print table -->
