@page
@model Compliance360.Pages.UsersModel
@{
     ViewData["Title"] = "Users";
    Layout = "_DashboardLayout";
}

<!-- Column selectors with Export Options and print table -->
<section id="column-selectors">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Users</h4>
                     <button type="button" class="btn btn-primary ms-auto" data-toggle="modal" data-target="#createuser">
                       <i class="feather icon-plus"></i> Create user
                      </button>
                </div>
                <div class="card-content">
                    <div class="card-body card-dashboard">
                      
                        <div class="table-responsive">
                            <table class="table table-striped dataex-html5-selectors">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Role</th>
                                        <th>Email</th>
                                        <th>Last active</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Adewuyi Elijah</td>
                                        <td>Administrator</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>12 May, 2022 02:00pm</td>
                                        <td> <span class="badge bg-danger">Disabled</span></td>
                                        <td><span class="iconfont"><i class="feather icon-edit"></i> </span></td>
                                    </tr>
                                    <tr>
                                        <td>Adewuyi Elijah</td>
                                        <td>Administrator</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>12 May, 2022 02:00pm</td>
                                        <td> <span class="badge bg-primary">Active</span></td>
                                        <td><span class="iconfont"><i class="feather icon-edit"></i> </span></td>
                                    </tr>
                                    <tr>
                                        <td>Adewuyi Elijah</td>
                                        <td>Administrator</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>12 May, 2022 02:00pm</td>
                                        <td> <span class="badge bg-danger">Disabled</span></td>
                                        <td><span class="iconfont"><i class="feather icon-edit"></i> </span></td>
                                    </tr>
                                     <tr>
                                        <td>Adewuyi Elijah</td>
                                        <td>Administrator</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>12 May, 2022 02:00pm</td>
                                        <td> <span class="badge bg-danger">Disabled</span></td>
                                        <td><span class="iconfont"><i class="feather icon-edit"></i> </span></td>
                                    </tr>
                                     <tr>
                                        <td>Adewuyi Elijah</td>
                                        <td>Administrator</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>12 May, 2022 02:00pm</td>
                                        <td> <span class="badge bg-danger">Disabled</span></td>
                                        <td><span class="iconfont"><i class="feather icon-edit"></i> </span></td>
                                    </tr>
                                     <tr>
                                        <td>Adewuyi Elijah</td>
                                        <td>Administrator</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>12 May, 2022 02:00pm</td>
                                        <td> <span class="badge bg-danger">Disabled</span></td>
                                        <td><span class="iconfont"><i class="feather icon-edit"></i> </span></td>
                                    </tr>
                                     <tr>
                                        <td>Adewuyi Elijah</td>
                                        <td>Administrator</td>
                                        <td>eadequyi@gmail.com</td>
                                        <td>12 May, 2022 02:00pm</td>
                                        <td> <span class="badge bg-danger">Disabled</span></td>
                                        <td><span class="iconfont"><i class="feather icon-edit"></i> </span></td>
                                    </tr>
                                </tbody>
                              
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Column selectors with Export Options and print table -->


 <!-- Button trigger modal -->
                 

                  <!-- Modal -->
                  <div class="modal fade text-left" id="createuser" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel17" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel17">Create user</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                         <form>

                               <div class="mb-1">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Elijah adewuyi">                                                        </div>
                              <div class="mb-1">
                                    <label>Role</label>
                                    <select class="form-control">
                                        <option>Administrator</option>
                                        <option>Customer</option>
                                        <option>Lawyer</option>
                                        <option>Accountant</option>
                                    </select>
                              </div>
                              <div class="mb-1">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Elijah adewuyi">                                                        </div>
                               <div class="mb-1">
                                    <label>Status</label>
                                    <select class="form-control">
                                        <option>Active</option>
                                        <option>Inactive</option>
                                        
                                    </select>                                                   
                              </div>
                              <button class="btn btn-block btn-primary"> <i class="feather icon-save"></i> Create user</button>
                         </form>
                        </div>
                        
                      </div>
                    </div>
                  </div>